nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: white;

}

nav ul li {
    position: relative;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    display: block;

}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;
    background-color: rgba(0, 128, 0, 0.5);

    z-index: 999;
    border-radius: 20px;
    width: 250%;
    text-align: center;
    box-sizing: border-box;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top:2px solid black ;
    border-right:2px solid black;

}
.dropdown li {
    width: 50%;
}


.dropdown li a {
    padding: 10px;
    width: 180%;
    background-color: rgba(103, 217, 103, 0.5);
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top:2px solid black ;
    border-right:2px solid black;
    font-style: italic;
    font-size: 18px;
    color: black !important;

}

nav ul li:hover .dropdown {
    display: block;

}
.dropdown li a:hover {
    background-color: rgba(0, 128, 0, 0.8);
    transform: scale(1.1);
    font-size: 30px;
}

