fieldset
{

    top: 350px;

}
fieldset#part
{

    top: 350px;
    background-color: lightgreen;


}

fieldset#part1
{
    top: 350px;
    width: 50%;



}
legend
{
    font-family: "Rage Italic";
    font-size: 50px;
    background-color: seagreen;
    border-radius: 15px;
    color: black;

}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: darkseagreen;

    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
    background-color: rgba(60, 179, 113, 0.5);


}
nav ul
{
    padding: 10px;
    background-color: mediumseagreen;
    border-radius: 10px;
}
#panel1, #flip1 {
    padding: 5px;
    text-align: center;
    background-color: darkseagreen;


    border: solid 1px #c3c3c3;
}

#panel1 {
    padding: 50px;
    display: none;
    background-color: rgba(60, 179, 113, 0.5);


}
#flip1 {
    width:150px;
}
h2#info
{
    width : 90%;
    border: solid 2px black;
    border-radius: 10px;







}
div#kirjeldus{
    position: relative;
    left:0;
    border: solid black 1pt;
    width:50%;
    border-radius: 30px;
    padding:2%;

}