


h1 {
}

    div#ala{
        background-color: antiquewhite;
        padding: 2%;
        width: 30%;
        height: 300px;
        position: absolute;
        left: 300px;
        top: 50px;


    }
